* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232e2a;
}

h2 {
  font-size: 72px;
  background: -webkit-linear-gradient(#4f543d, #0ac4c4);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: baskerville, serif;
  font-size: 24px;
}

.format {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
